{% extends 'base.html' %}  <!--继承base网页模板内容,可以浏览网页查看效果-->
{% block title %}注册{%  endblock %}  <!--设置title，默认使用base模板中的-->

{% block content %}   <!--该模板语言用于定义主体内容，和模板中的结合使用-->
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-login' action="/register/" method="POST">
              {% if message %}      <!--类似if语句-->
                  <div class="alert alert-warning">{{ message }}</div>  <!--使用bootstrap的警示传递message信息-->
              {% endif %}

              {% csrf_token %}

              <h2 class="text-center">欢迎注册</h2>
                <div class="form-group">
                  {{ register_form.username.label_tag }}
                  {{ register_form.username}}
                </div>
                <div class="form-group">
                  {{ register_form.password1.label_tag }}
                  {{ register_form.password1 }}
                </div>
              <div class="form-group">
                  {{ register_form.password2.label_tag }}
                  {{ register_form.password2 }}
                </div>
              <div class="form-group">
                  {{ register_form.email.label_tag }}
                  {{ register_form.email }}
                </div>
              <div class="form-group">
                  {{ register_form.sex.label_tag }}
                  {{ register_form.sex }}
                </div>
                <div class="form-group">
                    {{ register_form.captcha.errors }}   <!--当验证码输入不正确时显示-->
                    {{ register_form.captcha.label_tag }}  <!--用于表示label的页面显示-->
                    {{ register_form.captcha }}            <!--用于captcha的input标签显示-->
                </div>

              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>
          </form>
        </div>
    </div>
{% endblock %}
